NEXT_PUBLIC_SUPABASE_URL=https://hrzthikvyqiesnboymtn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-BJFrACQfJ1CY1lol7hU5g_qJ3AQ2yP

# EmailJS contact form
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_mds4xqz
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=pxohact
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=4Wo0xfXaCf10ai2Ij
